<div id="map"></div>
  <br>
  <div class="sort_by">Sort reports by:
    <%= button_tag "Location", id: "nearby-search" %>
    <%= button_tag "Votes", id: "votes-search" %>
    <%= button_tag "Subscribers", id: "subscriptions-search" %>
    <%= button_tag "Status", id: "status-search" %>
  </div>

  <br>
  <br>

  <section id="report-list" >
    <%= render @reports %>
  </section>

  <%= javascript_tag do %>
  window.nearbys = <%= raw Report.all.map{|nr| { lat: nr.latitude, lng: nr.longitude } }.to_json %>
  <% end %>

  <script type="text/javascript">
    var userCords;
    var pos;
    var infoWindow = null;
    var customIcon = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"

  //Start geolocation

    if (navigator.geolocation) {
      function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
      }

      function success(pos){
        userCords = pos.coords;
            // return userCords;
      }

        // Get the user's current position
      navigator.geolocation.getCurrentPosition(success, error);
        // console.log(pos.latitude + " " + pos.longitude);
      }

    else {
      alert('Geolocation is not supported in your browser');
    }
  //End Geo location

    //map options
    var mapOptions = {
      zoom: 11,
      center: new google.maps.LatLng(43.7184038, -79.47),
      panControl: false,
      panControlOptions: {
        position: google.maps.ControlPosition.BOTTOM_LEFT
      },
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.LARGE,
        position: google.maps.ControlPosition.RIGHT_CENTER
      },
      scaleControl: false

    };

    //Adding infowindow option
    infowindow = new google.maps.InfoWindow({
      content: "Your current position"
    });

    //Fire up Google maps and place inside the map div
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    //Code below loads markers for all pothole reports in the Report model
    if (window.nearbys) {
      nearbys.forEach(function(coord) {
        new google.maps.Marker({
          position: { lat: parseFloat(coord.lat), lng: parseFloat(coord.lng) },
          map: map,
          title: "Nearby_potholes",
          icon: customIcon
        });
      });
    }

    $('#nearby-search').on("click", function() {
      var marker;
      var current_coordinates = { lat: userCords.latitude, lng: userCords.longitude};

      map.setCenter(current_coordinates);
      map.setZoom(17);
      // Create a marker after hitting current_loction button
      function createMarker(coords, map) {
        marker = new google.maps.Marker({
          position: coords,
          map: map
        });
      }
      createMarker(current_coordinates, map);
  });

      // if (window.nearbys) {
      //   nearbys.forEach(function(coord) {
      //     new google.maps.Marker({
      //       position: { lat: parseFloat(coord.lat), lng: parseFloat(coord.lng) },
      //       map: map,
      //       title: "Nearby_potholes",
      //       icon: customIcon
      //     });
      //   });
      // }
  </script>
