<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

<body>

  <div id="map"></div>

  <br>

  <div class="sort_by">Sort reports by:
    <%= button_tag "Location", id: "nearby-search" %>
    <%= button_tag "Votes", id: "votes-search" %>
    <%= button_tag "Subscribers", id: "subscriptions-search" %>
    <%= button_tag "Status", id: "status-search" %>
  </div>

  <br>
  <br>
  <section id="report-list" >
    <%= render @reports %>
  </section>
</body>


</html>
