<div id="map" data-latitude="<%= @report.latitude %>" data-longitude="<%= @report.longitude %>"></div>
<h2><%= @report.address %></h2>
<br>
<h4><%= @report.description %></h4>
<br>
<h4>Status: <%= statusName(@report.status) %></h4>
<br>
<h4>Other pothole reports near this location</h4>
      <% @nearbyholes.each do |h| %>
        <li>
          <p><%= h.address %></p>
          <p>&nbsp;&nbsp;&nbsp;Status: <%= statusName(h.status) %></p>
          <p>&nbsp;&nbsp;&nbsp;<%= (h.distance_to(@report, :km)*1000).to_i %> metres away.</p>
        </li>
        <br>
      <% end %>

  <%= form_for @vote do |f| %>
    <%= f.hidden_field :report_id %>
    <%= f.submit "Submit Vote" %>
  <% end %>

  <h2>Votes</h2>
    <% if @report.votes.any? %>
      <%= @report.votes.count %>
    <% else  %>
      <p> No one has voted yet</p>
    <% end  %>



  <% if @report.comments.any? %>
  <h3>Comments</h3>
   <% @report.comments.each do |comment| %>
      <p> <%= comment.user.username %> says: <%= comment.body_text %> </p>
     <% end %>
   <% else %>
     <p> No Comments Posted</p>
 <%end %>

 <%= render partial: 'comments/form' %>

 <%= javascript_tag do %>
   window.nearbys = <%= raw @nearbyholes.map{|nr| { lat: nr.latitude, lng: nr.longitude } }.to_json %>
 <% end %>
