<div id="show_map" data-latitude="<%= @report.latitude %>" data-longitude="<%= @report.longitude %>"></div>
  <br>
  <br>
<div id="show_img"><% unless @report.image_url.nil? %> <%= image_tag @report.image_url %><% end %></div>
<h2><%= @report.address %></h2>
  <br>
<h4><%= @report.description %></h4>
  <br>
<h4>Status: <%= statusName(@report.status) %></h4>
  <br>
<h4>Other pothole reports near this location</h4>
      <% @nearbyholes.each do |h| %>
        <li>
          <p><%= h.address %></p>
          <p>&nbsp;&nbsp;&nbsp;Status: <%= statusName(h.status) %></p>
          <p>&nbsp;&nbsp;&nbsp;<%= (h.distance_to(@report, :km)*1000).to_i %> metres away.</p>
        </li>
        <br>
      <% end %>
 <!-- Button to subscribe -->
 <%= form_for @subscription do |f| %>
   <%= f.hidden_field :report_id %>
   <%= f.submit "Subscribe" %>
 <% end %>

 <h2>Subscriptions</h2>
   <p> Subscriptions so far: <%= @report.subscriptions.count %></p>
   <% @report.vote_count = @report.votes.count %>
   <% @report.subscription_count = @report.subscriptions.count %>


  <!-- Button to vote -->
  <%= form_for @vote do |f| %>
    <%= f.hidden_field :report_id %>
    <%= f.submit "Submit Vote" %>
  <% end %>
  <!-- Votes -->
  <h2>Votes</h2>
    <p> Votes so far: <%= @report.votes.count %></p>

  <!-- Comments -->

  <% if @report.comments.any? %>
  <h3>Comments</h3>
   <% @report.comments.each do |comment| %>
      <p> <%= comment.user.username %> says: <%= comment.body_text %> </p>
     <% end %>
   <% else %>
     <p> No Comments Posted</p>
 <%end %>

 <%= render partial: 'comments/form' %>

 <%= javascript_tag do %>
   window.nearbys = <%= raw @nearbyholes.map{|nr| { lat: nr.latitude, lng: nr.longitude } }.to_json %>
 <% end %>

<script type="text/javascript">
var customIcon = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
var mapPlaceholder = $('#show_map');
var latlng = {lat: mapPlaceholder.data('latitude'), lng: mapPlaceholder.data('longitude')}
var mapOptions = {
  zoom: 18,
  center: latlng,
  panControl: false,
  panControlOptions: {
    position: google.maps.ControlPosition.BOTTOM_LEFT
  },
  zoomControl: true,
  zoomControlOptions: {
    style: google.maps.ZoomControlStyle.LARGE,
    position: google.maps.ControlPosition.RIGHT_CENTER
  },
  scaleControl: false

};
var map = new google.maps.Map(document.getElementById("show_map"), mapOptions);

    var marker;

    function createMarker(coords, map) {
      marker = new google.maps.Marker({
        position: coords,
        map: map
      });
    }

    createMarker(latlng, map);

    // Nearby markers
  if (window.nearbys) {
    nearbys.forEach(function(coord) {
      new google.maps.Marker({
        position: { lat: parseFloat(coord.lat), lng: parseFloat(coord.lng) },
        map: map,
        title: "Nearby_potholes",
        icon: customIcon
      });
    });
  }

</script>
