<h2><%= @report.address %></h2>
<h2><%= @report.description %></h2>
<h4>Status: <%= statusName(@report.status) %></h4>

<%= link_to like_report_path(@report), class: "like", method: :put do %>
  <button type="button">
    <span class="badge"><%= @report.get_upvotes.size %></span>
  </button>
<% end %>

<h4>Reports near this location</h4>
  <ol>
    <li>
      <% @nearbyholes.each do |h| %>
      <p><%= h.address %></p>
      <p><%= h.status %></p>
      <p><%= h.distance_to(@report, :km) %></p>
      <% end %>
    </li>
  </ol>

  <% if @report.comments.any? %>
  <h3>Comments</h3>
   <% @report.comments.each do |comment| %>
      <p> <%= comment.user.username %> says: <%= comment.body_text %> </p>
     <% end %>
   <% else %>
     <p> No Comments Posted</p>
 <%end %>

 <%= render partial: 'comments/form' %>
