<div id="map" data-latitude="<%= @report.latitude %>" data-longitude="<%= @report.longitude %>"></div>
<h2><%= @report.address %></h2>
<h4><%= @report.description %></h4>
<h4>Status: <%= statusName(@report.status) %></h4>

<%= link_to like_report_path(@report), class: "like", method: :put do %>
  <button type="button">
    <span class="badge"><%= @report.get_upvotes.size %></span>
  </button>
<% end %>

<h4>Other pothole reports near this location</h4>
  <ol>
      <% @nearbyholes.each do |h| %>
        <li>
          <p><%= h.address %></p>
          <p>Status: <%= statusName(h.status) %></p>
          <p><%= (h.distance_to(@report, :km)*1000).to_i %> metres away.</p>
        </li>
      <% end %>
  </ol>

  <% if @report.comments.any? %>
  <h3>Comments</h3>
   <% @report.comments.each do |comment| %>
      <p> <%= comment.user.username %> says: <%= comment.body_text %> </p>
     <% end %>
   <% else %>
     <p> No Comments Posted</p>
 <%end %>

 <%= render partial: 'comments/form' %>

 <%= javascript_tag do %>
   window.nearbys = <%= raw @nearbyholes.map{|nr| { lat: nr.latitude, lng: nr.longitude } }.to_json %>
 <% end %>
