<div id="show-map" data-latitude="<%= @report.latitude %>" data-longitude="<%= @report.longitude %>"></div>
<br>
<br>
<div id="show_img"><%= image_tag(@report.image) %></div>
<h2><%= @report.address %></h2>
<br>
<h4><%= @report.description %></h4>
<br>
<h4>Status: <%= statusName(@report.status) %></h4>
<br>
<h4>Other pothole reports near this location</h4>
      <% @nearbyholes.each do |h| %>
        <li>
          <p><%= h.address %></p>
          <p>&nbsp;&nbsp;&nbsp;Status: <%= statusName(h.status) %></p>
          <p>&nbsp;&nbsp;&nbsp;<%= (h.distance_to(@report, :km)*1000).to_i %> metres away.</p>
        </li>
        <br>
      <% end %>
  <!-- Button to vote -->
  <%= form_for @vote do |f| %>
    <%= f.hidden_field :report_id %>
    <%= f.submit "Submit Vote" %>
  <% end %>
  <!-- Votes -->
  <h2>Votes</h2>
  <% if @report.votes.any? %>
    <% @report.vote_count = @report.votes.count %>
  <% else %>
    <% @report.vote_count = 0 %>
  <% end %>
    <p> Votes so far: <%= @report.vote_count %></p>

  <!-- Comments -->

  <% if @report.comments.any? %>
  <h3>Comments</h3>
   <% @report.comments.each do |comment| %>
      <p> <%= comment.user.username %> says: <%= comment.body_text %> </p>
     <% end %>
   <% else %>
     <p> No Comments Posted</p>
 <%end %>

 <%= render partial: 'comments/form' %>

 <%= javascript_tag do %>
   window.nearbys = <%= raw @nearbyholes.map{|nr| { lat: nr.latitude, lng: nr.longitude } }.to_json %>
 <% end %>
